.DS_Store
celerybeat.pid
django.pot
*.bak*
.vscode/
.idea
*.sln
*.pyc
*.gv
*.sql
#dev.py
*.env
*.sh

frontend/pc/node_modules
static/assets*
venv
USERRES
rule_engine
profiles
debug
static_root
config/local_settings.py
frontend/pc/build/webpack.dev.conf.js
/scripts/check_migrate/
#blueking/
#blueapps/
