# -*- coding: utf-8 -*-
# PaaS 增强服务需要的依赖包，请不要修改，否则可能导致增强服务不可用
# for sentry
raven==6.1.0
# for apm
ddtrace==0.14.1
blueapps == 2.5.0
gunicorn==19.6.0
blueking.component.ieod==0.0.89
blueking.component.open==0.0.6
bkstorages
