@import '../../../../scss/mixins/clearfix.scss';

.bk-add-trigger {
    padding: 22px 32px 70px 32px;
}
.bk-trigger-basic {
    position: relative;
    margin-bottom: 40px;
    .bk-basic-form {
        width: 610px;
    }
    .bk-basic-type {
        position: absolute;
        top: 32px;
        left: 630px;
        width: 80px;
        height: 86px;
        background-color: #FAFBFD;
        border: 1px solid #DCDEE5;
        border-radius: 2px;
        &:hover {
            .bk-type-change {
                display: block;
            }
        }
        .bk-type-icon {
            font-size: 28px;
            color: #979BA5;
            line-height: 56px;
            text-align: center;
        }
        .bk-type-name {
            font-size: 12px;
            color: #63656E;
            line-height: 27px;
            background-color: #F0F1F5;
            text-align: center;
            border-top: 1px solid #DCDEE5;
        }
        .bk-type-change {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 86px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 86px;
            cursor: pointer;
        }
        .bk-show {
            display: block;
        }
        .bk-icon-list {
            position: absolute;
            top: 90px;
            left: -41px;
            width: 120px;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
            border: 1px solid #DCDEE5;
            li {
                float: left;
                font-size: 18px;
                color: #979BA5;
                text-align: center;
                line-height: 32px;
                width: 32px;
                cursor: pointer;
                &:hover {
                    color: #3A84FF;
                    background-color: #E1ECFF;
                }
            }
        }
    }
}
.bk-trigger-rule {
    .bk-rule-title {
        border: 1px solid #DCDEE5;
        background-color: #F0F1F5;
        line-height: 42px;
        height: 42px;
        color: #63656E;
        padding: 0 12px;
        cursor: pointer;
        .icon-cus{
            position: relative;
            top: -4px;
        }
        .bk-name-input {
            float: left;
            width: 360px;
            line-height: 30px;
            margin-top: 4px;
            .bk-input-submit {
                color: #3A84FF;
                cursor: pointer;
                font-size: 12px;
                margin-left: 10px;
            }
        }
        .bk-icon {
            color: #63656E;
            font-size: 12px;
        }
        .bk-title-name {
            display: inline-block;
            line-height: 24px;
            padding: 0 5px;
            font-size: 14px;
            position: relative;
            top: -1px;
            &:hover {
                background-color: #DCDEE5;
            }
        }
        .bk-condition-switch {
            float: right;
            font-size: 12px;
            margin-right: 10px;
        }
        .icon-close {
            float: right;
            font-size: 24px;
            margin-top: 10px;
        }
        .icon-nodelete {
            color: #C4C6CC;
        }
    }
}
.bk-add-rules {
    font-size: 14px;
    display: inline-block;
    color: #3A84FF;
    cursor: pointer;
    .bk-icon {
        font-size: 18px;
        margin-right: 5px;
    }
}
.bk-submit-trigger {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 950px;
    padding: 15px 30px;
    background-color: #FAFBFD;
    border-top: 1px solid #DCDEE5;
}
